version: '3'
services:
  biliup:
    image: nick3/biliup:latest
    container_name: biliup
    restart: unless-stopped
    ports:
      - "<HOST_ADDRESS>:<HOST_PORT>:19159"
    volumes:
      - /path/to/save_folder:/opt
    command: server --auth